main {

	display: flex;
	height: 100vh;

	@include for-tablet {

		flex-direction: column;
		height: auto;

	}

}

a {

	color: $canvas-blue-dark;

	&:hover {

		text-decoration: none;

	}

}

textarea {

	min-height: 10rem;
	padding: $grid-line-height;

}
