.content {

	width: 100%;
	flex-grow: 1;
	padding: $grid-line-height ( $grid-gutter );
	overflow: scroll;

	@include for-tablet {

		padding: $grid-line-height ( $grid-gutter / 2 );

	}

	.title {

		margin-bottom: $grid-line-height * 2;

		@include for-phone {

			@include modular-scale( epsilon );
			font-weight: bold;

		}

	}

	p + h2, p + h3 {

		margin-top: $grid-line-height * 2;
		margin-bottom: $grid-line-height / 2;

	}

	> * {

		max-width: 45rem;

	}

}