.memory {

	display: flex;
	margin-bottom: $grid-line-height;

	img {

		width: 3rem;
		height: 3rem;
		margin-right: $grid-gutter / 2;

	}

	span.date {

		@include modular-scale( eta );
		width: 14rem;
		text-align: right;

	}

	p {

		flex-grow: 1;
		@include modular-scale( epsilon );
		margin: 0;
		width: 100%;

	}

	@include for-phone {

		flex-direction: column;

		span.date,
		p {

			width: 100%;
			text-align: left;

		}

	}

}